@charset "UTF-8";
/* CSS Document */



body{
	font-family: 'brandon-grotesque', Gill Sans MT, Myriad Pro, Helvetica, Arial," sans-serif";
	margin: 0px;
	padding: 0px;
}

* {
	box-sizing: border-box;
	border: 1px solid transparent;
}


html{
	font-size: 16px;
}

/**TYPOGRAPHY**/
h4, h1, h2 { 
	font-weight: 100;
	margin: 0;
}

h1 {
	font-size: 3rem;
}

h3 {
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: bold;
	margin: 0;
}

/**IMAGES**/
#shoppingCart { 
	width:1.5rem;
	height:1.5rem;
}

/**GENERIC**/
.wrapper {
	width: 80%;
	margin: auto;
}

.fullSpanImage{
	background-size: cover;
	background-position: center center;
}


/**FOOTER**/
footer {
	background-color: #151515;
	color: #f7f7f7;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

footer > .wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.footerIcon{
	height: 2rem;
	width: 2rem;
}

/**HOMEPAGE SECTIONS**/
.hero {
	height: 65vh;
	position: relative;
	background-image: url("./images/homepage/hero.jpg");
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;
}

.logoContainer {
	display: flex;
	flex-direction: row;
}

.logoText {
	margin-left: 1rem;
}

.heroText {
	position: absolute;
	bottom: 0px;
	margin-bottom: 2rem;
	width: 30%;
}

.productHomepageContainer{
	height: 50vh;
	display: flex;
}

.homepageProductImage {
	width:70%;
}

.homepageProductTextContainer {
	width: 30%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
} 

.homepageProductDesc { 
	position: absolute;
	bottom: 0;
	margin-bottom: 2rem;
	width: 85%;
}

#shopNow{
	margin-top:2rem;
}

#homepageProduct1 {
	background-image: url("./images/homepage/product1.jpg");
}

#homepageProduct2 {
	background-image: url("./images/homepage/product2.jpg");
	order: 2;
}

#homepageProduct2 + .homepageProductTextContainer {
	text-align: right;	
} 

#homepageProduct3 {
	background-image: url("./images/homepage/product3.jpg");
}

.instagramPhotoContainer {
	display: flex;
}

.instagramSection {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #f7f7f7;
}
.insta {
	width: 25%;
	height: 300px;
	position: relative;
	margin-top: 2rem;
}

.instaHandle {
	position: absolute;
	bottom: 0;
	margin: 1rem;
}

#insta1 {
	background-image: url("./images/homepage/insta1.png");
}

#insta2 {
	background-image: url("./images/homepage/insta2.jpg");
}

#insta3 {
	background-image: url("./images/homepage/insta3.jpg");
}

#insta4 {
	background-image: url("./images/homepage/insta4.jpg");
}